* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('wallpaper.jpg');
    background-size: cover;
    background-position: center; /* Ensures the image is centered */
    width: 100%;
    height: 100vh; /* Changed from 100% to 100vh to fill the screen */
    overflow: hidden;
    
    /* ADD THESE 3 LINES TO CENTER THE BOX */
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;     /* Vertical centering */
}

.box {
    /* Existing styles */
    /*padding: 25px;
    border-radius: 12px;
    text-align: center;
    width: 320px;*/

    /* FORCE CENTER */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
	width: 100%;
	padding: 25px;
	margin: 8px 0;
	border: none;
	border-radius: 8px;
	background: lab(54.17% 88.33 -47.28 / 0.623);
	color: black;
	font-size: 25px;
}

#videos {
	display: flex;
	position:fixed;
	inset:0;
}

video {
	width:50%;
	height: 100%;
	object-fit: cover;
}


#bottomBar {
	position: fixed;
	bottom: 10px;
	left:0;
	width: 100%;
	padding: 0 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
	z-index:999;
}

#controls {
	position:absolute;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	gap: 15px;
}
#controls button {
	padding: 14px 22px;
	border-radius: 30px;
	font-size:16px;
	border:none;
	cursor: pointer;
}
#controls button #start {
	background: #135797;
}

#controls button #hangup {
	background: #ef4444;
	color: white;
}
#chat {
	display: flex;
	gap: 8px;
}

#chat input {
	padding: 10px 14px;
	border-radius: 20px;
	border:none;
	width: 160px;
}

#chat #sendBtn {
	padding: 10px 14px;
	border-radius: 20px;
	border:none;
	background: #135797;
	color: white;
}


/*mob fix*/

@media (max-width: 768px) {
	video {
		width: 100%;
	}
	#chat {
		width: 120px;
	}
}
