body {
	background-image:url('wallpaper.jpg');
	background-size: cover;
	margin:0;
	font-family: Arial;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.box {
	padding: 25px;
	border-radius: 12px;
	text-align: center;
	width: 320px;
}

button {
	width: 100%;
	padding: 25px;
	margin: 8px 0;
	border: none;
	border-radius: 8px;
	background: lab(54.17% 88.33 -47.28 / 0.623);
	color: black;
	font-size: 25px;
}

#videos {
	display: flex;
	width: 100%;
}

video {
	width:50%:
	height: 100vh;
	object-fit: cover;
}

#controls {
	position: fixed;
	botton: 10px;
	width: 100%;
	text-align: cover;
}

#chat {
	position: fixed;
	right: 0;
	top: 550;
	width: 30%;
	height: 100%;
	background: #f0eee9;
}
